@import "../../variables.scss";

.subscription{
    background-image: url("./Background.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    .form-check{
        width: fit-content;
    }

    .form-email{
        button{
            background-color: $dark-primary;
        }
    }
}